#template {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

body {
    background-color: darkblue;
}

.container-right {
    position: absolute;
    right: 0;
    width: 300px;
}

.item {
    background-color: white;
    margin: 5px;
    padding-bottom: 10px;
}

#header {
    background-color: yellow;
    position: sticky;
    top: 5px;
    margin: 5px;
    padding-bottom: 10px;
}

.timer {
    margin: -50px auto auto;
    height: 40px;
    width: 40px;
    text-align: center;
}

.timer svg {
    transform: rotateY(-180deg) rotateZ(-90deg);
    position: relative;
    top: 0;
    right: -70px;
    width: 40px;
    height: 40px;
}

.timer svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    fill: none;
    stroke: blue;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}